**
!Cargo.toml
!Cargo.lock
!LICENSE
!LICENSING.md
!lib.rs
!core/**
!middleware/**
!ui/**
!customization/**
!skills/**
!scripts/container.sh
**/target
**/node_modules
**/.apex
**/.apex-control
**/.local
**/.env*
**/*.env
**/*.sqlite*
**/__pycache__
